/*Nolan Dow Portfoilio Stylesheet */
/*Colors: Fuschia #A239CA Dark Blue #032C3F Stark #E7DFDD*/

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.container-fluid{
  padding: 0;
}

.basic-page {
    background: black;
    color: white;
    font-family: Verdana, sans-serif;
}

.masthead-nav {
  background-color: #032C3F;
  border-color:#592059;
}

.masthead-nav > li {
  display: inline-block;
  background-color: #E7DFDD;
  margin: 10px;
  corner-radius: 5px;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.btn-learn {
        background-color: #A239CA;
        color: #fff;
        border-radius: 5px;
}
.btn-learn:hover,
.btn-learn:focus,
.btn-learn:active    {
        background-color: #A239CA;
        color: #FFF;
}

.jumbotron {
    background-image: url( "http://www.mrwallpaper.com/wallpapers/space-sparkling-stars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
    min-height: 600px;
    border-radius: 0px !important;
    border-color:#592059;
}

.main-content {
  font-size: 150%;
  color: #404040;
  text-align: left;
  margin: 0;
  padding: 10px 70px;
  border-color:#592059;
}

#about {
  background-color: #f8f8f8;
  min-height: 300px;
}

#portfolio {
  background-color: #fff;
  min-height: 300px;
}

#contact {
  background-color: #f8f8f8;
  min-height: 300px;
}

.icon {
  padding-right: 1em;
}

#about__anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

#portfolio__anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

#contact__anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}